<div class="row g-1 mb-1">
    <!-- Champ pour le nom d'utilisateur du superviseur -->
    <div class="col">
        <input type="text" name="supervisor_username" placeholder="{% trans "Nom d'utilisateur" %}" class="form-control form-control-sm" required>
    </div>

    <!-- Champ pour le mot de passe du superviseur -->
    <div class="col">
        <input type="password" name="supervisor_password" placeholder="{% trans "Mot de passe" %}" class="form-control form-control-sm" required>
    </div>
</div>
